*.env
.idea
docker-compose.override.yml
/secrets
/@docker
/homepage/logs
/homepage/*.yaml
/homepage/*.css
/homepage/*.js
/sonarr
/radarr
/prowlarr
/lidarr
/bazarr
/qbittorrent
/portainer
/letsencrypt
/jellyseerr
/adguardhome/certs
/adguardhome/conf
/adguardhome/work
/sabnzbd
/calibre-web
/gluetun
/qbittorrent
/jellyfin
/letsencrypt
/homepage