*.env
.idea
docker-compose.override.yml
/secrets
/@docker
/homepage
/sonarr
/radarr
/prowlarr
/lidarr
/bazarr
/qbittorrent
/immich
/portainer
/letsencrypt
/jellyseerr
/adguardhome
/sabnzbd
/calibre-web
/gluetun
/qbittorrent
/jellyfin
/letsencrypt
/homepage
/acme.json
/autoheal
/traefik/users
/traefik/acme

